@import url('https://fonts.googleapis.com/css2?family=Festive&family=Oswald:wght@200&family=Raleway:wght@100&family=Syne+Tactile&display=swap');

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    height: 100vh;
    overflow: no-display;

}

#footer{
  bottom: 0;
  width: 100%;
  height: 40px;
  color: black;
}

